@import "./configuration";

.about {
  background-color: coral;
  height: 100vh;
  overflow-y: hidden;

  #about__image {
    width: 250px;
    height: 250px;
    float: left;
    margin: 40px 40px;
    border-radius: 150px;

    @include media-md {
      float: none;
      margin: 10px 39%;
      width: 175px;
      height: 175px;
    }

    @include media-sm {
      float: none;
      margin: 10px 34%;
      width: 150px;
      height: 150px;
    }
  }

  .aboutme {
    position: relative;
    bottom: 290px;
    left: 350px;
    width: 70%;

    @include media-xlg {
      font-size: 1.6rem;
      width: 60%;
    }

    @include media-lg {
      font-size: 1.4rem;
      width: 50%;
    }

    @include media-md {
      font-size: 1.2rem;
      width: 90%;
      bottom: 0px;
      left: 40px;
      text-align: center;
    }

    @include media-sm {
      font-size: 1.2rem;
      width: 90%;
      bottom: 0px;
      left: 20px;
      text-align: center;
    }

    #about {
      padding-bottom: 10px;
      font-size: 2rem;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 6px;

      @include media-lg {
        font-size: 1.7rem;
      }

      @include media-md {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.2rem;
      font-weight: 100;

      @include media-lg {
        font-size: 1rem;
      }
    }

    #firstparagraph {
      padding-bottom: 5px;
    }

    .highlighted {
      color: yellow;
    }
  }

  .skills {
    padding-left: 10px;
    padding-bottom: 5px;
    display: flexbox;
    flex-wrap: wrap;

    @include media-md {
      width: 70%;
      margin-left: 15%;
      padding-right: 3%;
    }

    #skills__headline {
      font-size: 1.3rem;
      padding-top: 15px;
      padding-bottom: 20px;
      font-size: 1.4rem;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 6px;

      @include media-lg {
        font-size: 1.1rem;
        padding-bottom: 10px;
      }

      @include media-md {
        font-size: 1rem;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }

    .language {
      display: inline-block;
      flex-wrap: wrap;
      margin-right: 50px;
      margin-top: 0px;

      @include media-md {
        margin-right: 25px;
      }

      img {
        width: 100px;
        height: 100px;

        @include media-xlg {
          width: 70px;
          height: 70px;
        }

        @include media-lg {
          width: 60px;
          height: 60px;
        }

        @include media-md {
          width: 50px;
          height: 50px;
        }
      }

      &:hover {
        transform: scale(1.3);
      }

      span {
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        padding-top: 15px;

        @include media-lg {
          font-size: 1rem;
        }

        @include media-md {
          font-size: 0.9rem;
          padding-top: 10px;
        }

        @include media-sm {
          font-size: 0.8rem;
          padding-top: 10px;
        }
      }
    }
  }
}
