.contact {
  width: 100vw;
  height: 80vh;
  box-sizing: border-box;
  #contact-info {
    background-color: coral;
    h1 {
      font-size: 2rem;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
      letter-spacing: 6px;
      text-align: center;
      padding-top: 30px;
    }

    h5 {
      padding-top: 15px;
      font-size: 1.3rem;
      text-align: center;
      font-weight: 400;
      padding-top: 30px;
    }

    input {
      display: block;
      width: 50vw;
      margin: 5px auto;
      padding-left: 10px;
      background-color: black;
      color: white;

      &::placeholder {
        color: white;
      }
    }

    #name {
      margin-top: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #email {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    #message {
      padding-bottom: 30vh;
    }

    button {
      width: 150px;
      height: 50px;
      font-size: 1.3rem;
      background-color: black;
      color: white;
      margin: 30px 46vw;
      letter-spacing: 2px;

      span:hover {
        color: coral;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

footer {
  height: 20vh;
  width: 100vw;

  #social__media {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    .img {
      padding-right: 10px;
      width: 50px;
      height: 50px;
    }
  }

  #footer__copyright {
    font-size: 0.9rem;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
  }
}
